*{
	margin: 0;
	padding: 0;
}

.nav{
	background-color: red;
	width: 100%;
}

ul{
	list-style-type: none;
}

ul li{
	display: inline-block;
}

ul li a{
	display: block;
	position: relative;
	padding: 10px;
	text-align: center;
	color:black;
	transition: .5s all ease;
	text-decoration: none;
	
}


a:hover{
	transition: .5s;
	background-color: aqua;
	color: black;
}

ul li ul{
	display: none;
}

.sub{
	position: absolute;
}

ul li ul li{
	display: block;
}

ul li:hover ul{
	display: block;
}
